/* common */

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.inner {
  position: relative;
}
.btn {
  text-align: center;
  margin: 0 auto;
  background: no-repeat center / 100%;
  font-weight: bold;
}
#header .btn {
  text-align: center;
  line-height: 50px;
  margin: 0 auto;
  background: url(../img/common/bg_btn_red.png) no-repeat center / 100%;
}
#header .btn:hover {
  color: inherit;
}

#wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-width: 1520px;
  max-width: 1920px;
  margin: 0 auto;
}
/* header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  transition: 0.4s;
}
#header .inner {
  width: 1520px;
  height: 80px;
  margin: 0 auto;
  color: #fff;
}
#header .inner .logo {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50%;
  width: 153px;
  height: 50px;
  margin-top: -25px;
}
#header .inner .logo a {
  display: block;
  width: 153px;
  height: 50px;
  background: url(../img/common/logo_white.png) no-repeat left center/100%;
}
#header .inner .gnb {
  position: absolute;
  width: 100%;
  height: 80px;
  line-height: 80px;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 0;
}
#header .inner .gnb li {
  display: inline-block;
  margin: 0 40px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 4px;
  transition: letter-spacing 0.3s;
}
#header .inner .gnb li:hover {
  letter-spacing: 0;
}
#header .inner .btn.share {
  position: absolute;
  top: 50%;
  right: 0;
  width: 160px;
  height: 54px;
  margin-top: -27px;
  padding-right: 26px;
  line-height: 62px;
  font-size: 15px;
  box-sizing: border-box;
}
#header .inner .btn.share::after {
  content: "";
  position: absolute;
  right: 26px;
  top: 50%;
  margin-top: -10px;
  width: 22px;
  height: 22px;
  background: url(../img/common/ico_share.png) no-repeat left center/100%;
}

/* family */
#header.family {
  position: relative;
  background-color: #e61e2b;
}

/* footer */
#footer {
  width: 100%;
  min-width: 1520px;
  padding: 60px 0;
  background: linear-gradient(to right, #8a0e10, #f13037, #f13037, #8a0e10);
  color: #fff;
}
#footer .inner {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 1320px;
  margin: 0 auto;
}
#footer .inner .footer_sns {
  float: left;
  width: 222px;
  text-align: center;
}
#footer .inner .footer_sns h4 {
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 900;
  line-height: 30px;
}
.sns_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 7%;
}
.sns_list li {
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.sns_list li:nth-child(2) {
  width: 49px;
  height: 49px;
}
.sns_list li a {
  display: block;
  width: 100%;
  height: 100%;
}
#footer .inner .footer_sns .footer_logo {
  margin-top: 20px;
}

.footer_menu li {
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.footer_menu li:hover {
  text-decoration: underline;
}
.footer_menu li:nth-child(1) {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 900;
  margin-bottom: 10px;
  text-decoration: none;
}

.copyright {
  display: block;
  margin-top: 160px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.footer_util {
  overflow: hidden;
  margin-top: 20px;
  text-align: center;
  font-size: 0;
}
.footer_util li {
  position: relative;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
  font-size: 15px;
  padding-right: 30px;
}
.footer_util li:nth-child(1) {
  margin-left: 0;
}
.footer_util li:after {
  content: "";
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  height: 16px;
  width: 2px;
  background-color: #fff;
}
.footer_util li:last-child:after {
  content: "";
  display: none;
}
