.section {
  position: relative;
  width: 100%;
  min-width: 1520px;
  position: relative;
  color: #fff;
  text-align: center;
  background-size: cover !important;
  overflow: hidden;
  font-family: "Exo 2", sans-serif;
}
.section #header {
  font-family: "GmarketSansMedium";
}
.sec_info.right {
  width: 33%;
  position: absolute;
  right: 8%;
  top: 37%;
  font-family: "Exo 2", sans-serif;
  text-align: left;
}
.sec_info.left {
  width: 33%;
  position: absolute;
  left: 5%;
  top: 37%;
  font-family: "Exo 2", sans-serif;
  text-align: right;
}
.sec_info h3 {
  display: inline-block;
  min-width: 181px;
  padding: 12px 28px;
  margin-bottom: 20px;
  font-size: 25px;
  background: transparent url(../img/history/box_year.png) center no-repeat;
  background-size: cover;
  text-align: center;
  box-sizing: border-box;
}
.sec_info h2 {
  font-size: 2.5vw;
  font-family: "Exo 2", sans-serif;
  margin-bottom: 4%;
}
.sec_info p {
  font-size: 1.1vw;
  font-family: "Nunito Sans", sans-serif;
}

/* sec01 */
.sec01 {
  background: url(../img/history/bg_sec01.png) center no-repeat;
}
.sec01_cnt {
  position: absolute;
  top: 23%;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: "Exo 2", sans-serif;
}
.sec01_logo {
  width: 300px;
}
.sec01_cnt .sec01_logo {
  display: inline-block;
  width: 300px;
  height: 98px;
}
.sec01_cnt .txt_box .tit {
  margin-top: 40px;
  font-size: 54px;
  font-weight: 700;
}
.sec01_cnt .txt_box .des {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
  letter-spacing: 1px;
}
.sec01_cnt .txt_box .sub_txt {
  margin-top: 30px;
  font-size: 30px;
  margin-bottom: 30px;
}
.section .down_btn {
  position: absolute;
  bottom: -3%;
  left: 50%;
  transform: translateX(-50%);
  animation: down infinite 1.8s;
}

.sec02 {
  background: url(../img/history/bg_sec02.png) center no-repeat;
}
.sec02_img {
  width: 15.6%;
  position: absolute;
  left: 0px;
  top: 50%;
  opacity: 0;
  transition: all 750ms ease;
  transform: translateY(-50%);
}
.sec03 {
  background: url(../img/history/bg_sec03.png) center no-repeat;
}
.sec03_img.before {
  width: 15%;
  position: absolute;
  right: 23%;
  top: 21%;
  cursor: pointer;
}
.sec03_img.after {
  display: none;
  width: 10.5%;
  position: absolute;
  right: 25.4%;
  top: 25%;
}
.sec03_click {
  right: 26%;
}
.click_guide {
  width: 2.5%;
  opacity: 0.8;
  position: absolute;
  bottom: 22%;
  z-index: 2;
}
.click_guide .guide_blink {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: ani_blink 1.6s ease-in-out infinite;
}
.click_guide .guide_icon {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.sec04 {
  background: url(../img/history/bg_sec04.png) center no-repeat;
}
.sec04_img.before {
  width: 15%;
  position: absolute;
  left: 20%;
  top: 21%;
  cursor: pointer;
}
.sec04_img.after {
  display: none;
  width: 13%;
  position: absolute;
  left: 21%;
  top: 27%;
}
.sec04_click {
  left: 26%;
}
.sec05 {
  background: url(../img/history/bg_sec05.png) center no-repeat;
  position: relative;
}
.sec05_video_wrap {
  width: 26%;
  position: absolute;
  top: 36%;
  left: 13%;
}
.video_box {
  background-color: #000;
  width: 65%;
  padding-bottom: 60%;
  position: absolute;
  top: 0;
  left: 8%;
  margin-top: 3%;
  overflow: hidden;
}
.video {
  width: 132%;
  position: absolute;
  top: 0;
  left: -7%;
  margin-top: 8%;
}
.sec05_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.sec06 {
  background: url(../img/history/bg_sec06.png) center no-repeat;
}
.sec06_img {
  width: 27.6%;
  position: absolute;
  top: 37%;
  left: 000px;
  opacity: 0;
  transition: all 500ms ease;
}
.sec07 {
  background: url(../img/history/bg_sec07.png) center no-repeat;
}
.sec07_img {
  width: 27.6%;
  position: absolute;
  top: 27%;
  left: 3%;
  opacity: 0;
  transition: all 450ms ease;
}
.sec08 {
  background: url(../img/history/bg_sec08.png) center no-repeat;
}
.sec08_img {
  width: 39%;
  position: absolute;
  top: 23%;
  right: 5%;
}

.sec09 {
  position: relative;
  background: url(../img/history/bg_sec09.png) center no-repeat;
}
.sec09_img01 {
  position: absolute;
  bottom: -100%;
  left: 8.8%;
  width: 7.8%;
  transform: rotate(15deg);
  z-index: 19;
  transition: all 400ms ease;
}
.sec09_img02 {
  position: absolute;
  bottom: -100%;
  left: 21.8%;
  width: 6.8%;
  z-index: 18;
  transition: all 500ms ease;
}
.sec09_img03 {
  position: absolute;
  bottom: -100%;
  left: 33.8%;
  width: 7.8%;
  transform: rotate(-10deg);
  transition: all 600ms ease;
}
.ice01 {
  width: 100%;
  position: absolute;
  bottom: -4%;
  left: 0;
}
.ice02 {
  position: absolute;
  width: 100%;
  bottom: -4%;
  left: 0;
  z-index: 20;
}
.ice03 {
  position: absolute;
  width: 100%;
  bottom: -4%;
  left: 0;
  z-index: 21;
}
.ice04 {
  position: absolute;
  width: 100%;
  bottom: -4%;
  left: 0;
  z-index: 11;
}
.top_btn {
  cursor: pointer;
  width: 5.2%;
  position: absolute;
  top: 7%;
  left: 50%;
  margin-left: -2.7%;
}
