@charset "utf-8";

.header {z-index:1001; position:absolute; top: 0; left:0; width:100%; height:100px; transition: all 0.3s;}
.header .inner {position:relative; display:flex; align-items: center; justify-content:space-between; width:1280px; height:100%; margin:0 auto;}

.header .logo {position: relative; width:128px; height:64px; background: url(../images/logo_w.png) no-repeat 0 0; background-size:100%; }
.header .logo a {display:block; width:100%; height:100%;}
.header .logo::after {content: ''; z-index: 2; position:absolute; top: 80px; left:0; width:calc(100vw - 329px); height:1px; background-color:rgba(255, 255, 255, 0.15);}
.header .logo::before {content: ''; z-index: 2; position:absolute; top: -20px; left:0; width:1px; height:1080px; background-color:rgba(255, 255, 255, 0.15);}
.header nav {display:flex;}
.header .gnbList {display:flex;}
.header .gnbList li {margin-left:50px;}
.header .gnbList li:first-child {margin-left:0;}

.header .gnbList li a {font-size:16px; font-weight:700; color:#fff; transition: all 0.3s; letter-spacing: 0 !important;}
.header .gnbList li a::after {content: ""; display: block; width: 100%; height: 2px; background-color: #fff; position: relative; top: 0; border-radius: 1px; transition: transform 0.4s cubic-bezier(0.45, 0.46, 0.05, 0.96); transform: scaleX(0); transform-origin: 100% 0;}
.header .gnbList li:hover a::after {transform: scaleX(100%); transform-origin: 0 0;}

.header .btn-sitemap {position:relative; width:21px; height:14px; margin-left:60px; padding:0; border:0; background:none; cursor:pointer;}
.header .btn-sitemap::after,
.header .btn-sitemap::before {content: ''; position: absolute; left:0; top: 0; width: 17px; height:2px; border-radius:2px; background-color:#fff;}
.header .btn-sitemap::after {top: auto; bottom: 0;}
.header .btn-sitemap span {position: absolute; right:0; top: 50%; width: 17px; height:2px; border-radius:2px; background-color:#fff; transform: translateY(-50%);}

.header .util {position: absolute; top: 13px; right: 80px; }
.header .util a {position:relative; font-size:13px; font-weight:700; color: rgba(255, 255, 255, 0.7); letter-spacing: 0 !important;}
.header .util a::after {content: ''; position:absolute; top: 50%; transform: translateY(-50%);}
.header .util .logout {padding-right:18px;}
.header .util .logout::after {right:0;  width:13px; height:12px; background:url(../images/icon_logout_w.png) 0 0 no-repeat;}
.header .util .login {display:block; padding-left:14px;}
.header .util .login::after {left:0; width:11px; height:14px; background:url(../images/icon_login_w.png) 0 0 no-repeat;}

/* hover */
.header:hover {background-color:#fff;}
.header:hover .logo {background: url(../images/logo.png) no-repeat 0 0; background-size:100%; }
.header:hover .gnbList li a {color:#171718;}
.header:hover .gnbList li a::after {background-color:#171718;}
.header:hover .btn-sitemap::after, .header:hover .btn-sitemap::before,
.header:hover .btn-sitemap span {background-color:#171718;}
.header:hover .util a {position:relative; font-size:13px; font-weight:700; color: #171718;}
.header:hover .util .logout::after {background:url(../images/icon_logout.png) 0 0 no-repeat;}
.header:hover .util .login::after {background:url(../images/icon_login.png) 0 0 no-repeat;}