@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap');

#wrap{position:relative;width:100%;max-width:1920px;min-width:1200px;margin:0 auto;text-align:left;font-size:14px;}
#container{width:100%;margin:0 auto;font-family:'Noto Sans CJK KR', Noto Sans KR, sans-serif;}
.blind{display:block;position:absolute;overflow:hidden;width:1px;height:1px;margin:-1px;clip:rect(0 0 0 0)}

.visual{width: 100%;height:304px;background:url(../img/ad_office/visual.png) 50% 0 no-repeat;-webkit-background-size:100%;background-size:100%;}
.marketing_content01{width:1240px;margin:0 auto;font-size:15px;color:#333;overflow: auto;}
.section_text_box{width:100%;margin-top:80px;font-size:15px;overflow:hidden;padding:32px 0 38px;text-align:center;background-color:#f9f9f9;}
.section_text_box .title01{font-size:20px;font-weight:bold;}
.section_text_box .list_txt{margin-top:30px;font-size:0;}
.section_text_box .list_txt li{display:inline-block;line-height:26px;font-size:15px;}
.list_txt_v1 li{padding: 0 126px;}
.list_txt_v1 li:nth-child(2){border-left:1px solid #d5d5d5;border-right:1px solid #d5d5d5;-webkit-box-sizing:border-box;box-sizing:border-box;}

.title02{margin-top:80px;font-size:24px;font-weight: bold;}
.cnt_txt{margin-top:10px;line-height:28px;}
.cnt_img{display:block;margin:40px auto 0;text-align: center;}
.cnt_img_v1{width:600px;}
.img_caption{margin-top:10px;text-align:center;line-height:28px;color:#666;}

.marketing_content01>.list_txt{margin-top:10px;line-height:28px;}
.marketing_content01>.list_txt .cnt_link{color:#0b83e6;}
.marketing_content01>.list_txt li ul{margin-left:10px;}

.sub_title{line-height:28px;margin-top:14px;}
.sub_title_v1{margin-top:10px;color:#f43142;font-weight:bold;line-height:28px;}
.cnt_img_v2{width: 1000px;}

.list_txt_v2 li{padding:0 126px;}
.list_txt_v2 li:nth-child(2){border-left:1px solid #d5d5d5;-webkit-box-sizing:border-box;box-sizing:border-box;}
.list_txt_v2 li a{display:block;}
.list_txt_v2 li a span{display:block;color:#0b83e6;}

.guide_wrap{overflow: hidden;width:1252px;margin-left: -12px;}
.guide_btn{display: block;float: left;width:300px;height:40px;line-height:40px;padding:0 10px;margin:6px 0 0 12px;border:1px solid #ccc;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:14px;background:url(../img/ad_office/arrow_icon.png) 279px 50% no-repeat;}
.blank{width:300px;height:40px;margin-top: 6px;}
.guide_btn.down{background:url(../img/ad_office/down_icon01.png) 273px 50% no-repeat;}

.hashpag_wrap{margin-top:80px;}
.hashpag_wrap span{margin-left:14px;color:#666;}
.btn_wrap{overflow:hidden;margin-top:32px;}
.btn01{float:right;padding:12px 19px;border:1px solid #333;font-size:14px;font-weight: bold;}

.marketing_content02{width:100%;margin-top:40px;padding:40px 0;background-color:#f9f9f9;font-size:15px;color:#333;overflow:hidden;}
.section_down{width:1240px;margin: auto;}

.down_btn{position:relative;float:left;width:612px;height:56px;line-height:56px;margin:16px 0 0 16px;padding:0 14px;border:1px solid #333;-webkit-box-sizing:border-box;box-sizing:border-box;color:#333;background:url(../img/ad_office/down_icon02.png) 575px 50% no-repeat;font-weight:bold;}
.down_btn_wrap a:first-child{margin-left: 0;}

#footer{background-color:#282a31;}
.footer_inner{width:1240px;margin:auto;padding:52px 0 54px;color:#fff;font-size:14px;overflow:hidden;}
.list_corp{float:left;font-size:15px;}
.list_corp .corp_item{float:left;position:relative;}
.list_corp .corp_item:first-child>a{padding-left:0;}
.list_corp .corp_item::after{content:'';position:absolute;width:1px;height:20px;top:4px;left:0;background-color:#5c5e62;}
.list_corp .corp_item:first-child::after{width:0;height:0;}
.list_corp .corp_item>a{display:block;height:28px;line-height:28px;padding:0 20px;-webkit-box-sizing:border-box;box-sizing:border-box;}
.list_corp .corp_item>a>img{float:left;margin-right:8px;}
.copyright{float:right;line-height:28px;color:#939498;}
